<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Call Experiment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="video-container"></div>

    <!-- Server config vars -->
    <script>
      const ROOM_ID = '<%= roomId %>';
      const PEER_PORT = '<%= PEER_PORT %>';
      const PEER_HOST = '<%= PEER_HOST %>';
      const PEER_SECURE = '<%= PEER_SECURE %>';
      const DEBUG = '<%= DEBUG %>';
    </script>

    <!-- Globals -->
    <script>
      /**
       * Used to store the call and video element of each peer
       * so as to remove them when they disconnect.
       */
      const calls = {};

      /**
       * Reference to the video container.
       */
      const videoContainer = document.querySelector('#video-container');
    </script>

    <!-- Scripts -->
    <script src="utils.js"></script>
    <script src="room.js"></script>
  </body>
</html>
